html, body { height: 100% !important; margin:0; background-color: #f8f8f6
    ;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); }
.main-header {
    background-color: #d7e0eb;
    width: 100%;
}
.form-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form {
    width: 90vw;
}
.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    margin-top: -2px !important;
}
.MuiGrid-spacing-xs-2 {
    width: calc(100% + 16px);
    margin: 0px !important;
}
