.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.selected{
  background-color: #d7e0eb;
}
.sub-heading{
  text-align: initial !important;
}
.download-link-align {
  text-align: initial;
  margin-top: 20px !important;
}
.hr.dashed {
  border-top: 3px dashed #bbb;
}
.crop-img {
  display: flex;
}